@media (min-width: @screen-md-min) {

  //
  // Основное
  // --------------------------------------------------
  html {
    font-size: 90%;
  }

  .container-fluid {
    padding: 0 5%;
  }



  //
  // Главное меню
  // --------------------------------------------------

  .menu {
    > li > a {
      font-weight: 500;
    }
    a {
      font-size: 15px;
      padding: 11px 20px;
    }
  }

}
