@media (min-width: @screen-sm-min)
{
  //
  // Основное
  // --------------------------------------------------
  html
  {
    font-size: 80%;
  }

  // body.admin-bar {
  //   margin-top: 32px;
  // }



  //
  // Заголовок
  // --------------------------------------------------
  .head {
    padding-top: 40px;
    &__logo {
      float: left;
      .size(142px, 49px);
      background-size: 142px 49px;
      background-image: url(../img/logo.png);
    }
    &__info {
      float: right;
    }
    &__contacts {
      float: left;
    }
    &__action {
      float: left;
      margin-left: 25px;
    }
    &__tel {
      margin-top: -5px;
      text-align: right;
      span {
        padding-left: 30px;
        background-image: url(../img/tel.png);
      }
    }
    &__address {
      text-align: right;
      span {
        padding-left: 20px;
        background-image: url(../img/address.png);
      }
    }
    &__call {
      margin-top: 0;
      text-align: left;
      padding-right: 70px;
      &:before {
        display: block;
      }
    }

    /* Баннер на лендинге */
    &__slide {
      height: 465px;  
      &:before {
        content: "";
        display: inline-block;
        height: 100%;
        width: 1px;
        vertical-align: middle;
      }
    }
    &__title {
      display: inline-block;
      vertical-align: middle;
      font-size: 45px;
      padding-top: 0;
      span {
        width: 470px;
      }
    }
    &__image {
      position: absolute;
      left: auto;
      right: -250px;
      bottom: 0;
      margin: 0;
      @header-image-width: image-width('../img/window.png');
      .size(@header-image-width, 445px);
      background-size: @header-image-width  auto;
      
    }
  }



  //
  // Блок навигации
  // --------------------------------------------------

  .navi {
    &__row {
      float: none;
      display: table;
      width: 100%;
      overflow: auto;
    }
    &__col {
      display: table-cell;
      &_search {
        width: 40px;
      }
    }
  }



  //
  // Форма поиска
  // --------------------------------------------------
  .search {
    &__form {
      visibility: hidden;
      position: absolute;
      width: 40px;
      top: 0;
      right: 0;
      border-radius: 4px 0 0 4px;
      overflow: hidden;
    }
    &__submit {
      padding: 11px 12px;
    }

    &_active {
      .search__form {
        visibility: visible;
        width: 450px;
        box-shadow: 0 -2px 30px rgba(39,62,160,0.65);
        border-radius: 4px;
        right: -20px;
        top: -30%;
      }
      .search__submit {
        padding: 11px 14px;
      }
      .search__toggle {
        padding: 11px 16px;
        margin-left: -8px;
        &:hover,
        &:active,
        &:focus {
          #gradient > .vertical(@navi-grad-color1, @navi-grad-color2);
          cursor: default;
        }
        .search__icon {
          opacity: 0;
        }
      }
    }
    &_animate-in {
      .search__form {
        transition: top         0.25s ease, 
                    right       0.25s ease 0.25s, 
                    width       0.25s ease 0.25s, 
                    box-shadow  0.5s ease,
                    visibility  0.5s;
      }
      .search__submit {
        transition: padding 0.25s ease 0.25s;
      }
      .search__toggle {
        transition: padding     0.1s ease 0.25s,
                    margin-left 0.1s ease 0.25s;
      }
    }
    &_animate-out {
      .search__form {
        transition: width       0.25s ease, 
                    right       0.25s ease, 
                    top         0.25s ease 0.25s, 
                    box-shadow  0.5s ease,
                    visibility  0.5s;
      }
      .search__icon {
        transition-property: opacity;
        transition-delay: 0.5s;
      }
      .search__submit {
        transition: padding 0.25s ease;
      }
      .search__toggle {
        transition: padding     0.1s ease 0.15s,
                    margin-left 0.1s ease 0.15s;
      }
    }
  }



  //
  // Блок навигации
  // --------------------------------------------------

  .navi {
    &__row {
      float: none;
      display: table;
      width: 100%;
      overflow: auto;
    }
    &__col {
      display: table-cell;
      &_search {
        width: 40px;
      }
    }
  }



  //
  // Панель "Вызвать мастера"
  // --------------------------------------------------
  .pancall {
    max-width: 100%;
    text-align: left;
    padding: 20px;
    margin-top: 100px;
    min-height: 153px;
    &__logo {
      display: block;
    }
    &__body {
      padding-left: 256px;
    }
    &_small {
      margin-top: 70px;
      min-height: 109px;
      @{pancall}__body {
        padding-left: 205px;
      }
    }
    &_landing {
      margin-top: 60px;
    }
  }



  //
  // Панель "Москитные сетки"
  // --------------------------------------------------
  .panmesh {
    height: 140px;
    &__header {
      font-size: 2rem; 
    }
    &__body {
      padding-right: 170px;
    }
    &__logo {
      height: 193px;
    }
  }



  //
  // Footer
  // --------------------------------------------------
  .footer {
    &__address {
      margin-top: 0px;
    }
    &__about {
      margin-top: 20px;
    }
  }



  //
  // Меню в футере
  // --------------------------------------------------
  .fmenu {
    float: right;
  }



  //
  // Копирайт
  // --------------------------------------------------
  .copyright {
    margin-top: 0;
  }



  //
  // Телефон в футере
  // --------------------------------------------------
  .ftel {
    text-align: right;
    &__num {
      margin-top: 0;
    }
  }



  //
  // Список "Бренды"
  // --------------------------------------------------
  .brands {
    &__item {
      &_shuc {
        .setImage('../img/schuco.png');
      }
      &_geal {
        .setImage('../img/gealan.png');
      }
      &_veka {
        .setImage('../img/veka.png');
      }
      &_plas {
        .setImage('../img/plastmo.png');
      }
      &_reha {
        .setImage('../img/rehau.png');
      }
      &_plaf {
        .setImage('../img/plafen.png');
      }
      &_kbe {
        .setImage('../img/kbe.png');
      }
    }
  }



  //
  // Модальное окно
  // --------------------------------------------------
  .modal {
    &__wind {
      margin-top: 40px;
    }
    &__logo {
      display: block;
    }
  }



  //
  // Карта
  // --------------------------------------------------
  .map {
    margin-bottom: 90px;
  }

}
