@media (min-width: @screen-sm-min)
{
  //
  // Основное
  // --------------------------------------------------
  html
  {
    font-size: 80%;
  }



  //
  // Заголовок
  // --------------------------------------------------
  .head {
    padding-top: 40px;
    &__info {
      float: right;
      width: auto;
    }
    &__contacts {
      float: left;
    }
    &__action {
      float: left;
      margin-left: 25px;
    }
    &__tel {
      margin-top: -5px;
      text-align: right;
      span {
        padding-left: 30px;
        background-image: url(../img/tel.png);
      }
    }
    &__address {
      text-align: right;
      span {
        padding-left: 20px;
        background-image: url(../img/address.png);
      }
    }
    &__call {
      margin-top: 0;
      text-align: left;
      padding-right: 70px;
      &:before {
        display: block;
      }
    }

    /* Баннер на лендинге */
    &__slide {
      height: 465px;  
      &:before {
        content: "";
        display: inline-block;
        height: 100%;
        width: 1px;
        vertical-align: middle;
      }
    }
    &__title {
      display: inline-block;
      vertical-align: middle;
      font-size: 3.5rem;
      text-align: left;
      padding-top: 0;
    }
    &__image {
      left: auto;
      right: -250px;
      margin-left: 0px;
      .size(725px, 445px);
    }
  }



  //
  // Блок навигации
  // --------------------------------------------------

  .navi {
    &__row {
      float: none;
      display: table;
      width: 100%;
      overflow: auto;
    }
    &__col {
      display: table-cell;
      &_search {
        width: 40px;
      }
    }
  }



  //
  // Форма поиска
  // --------------------------------------------------
  .search {
    &__form {
      display: none;
      position: absolute;
      width: 450px;
      right: 15px;
      top: -50%;
    }
    &_active {
      .search__form {
        display: block;
        box-shadow: 0 -2px 30px rgba(39,62,160,0.65);
        border-radius: 4px;
      }
      .search__toggle .search__icon {
        visibility: hidden;
      }
    }
  }



  //
  // Блок навигации
  // --------------------------------------------------

  .navi {
    &__row {
      float: none;
      display: table;
      width: 100%;
      overflow: auto;
    }
    &__col {
      display: table-cell;
      &_search {
        width: 40px;
      }
    }
  }



  //
  // Панель "Вызвать мастера"
  // --------------------------------------------------
  .pancall {
    max-width: 100%;
    text-align: left;
    padding: 20px;
    margin-top: 60px;
    &__header {
      margin-top: 0;
    }
    &__logo {
      .size(236px, 219px);
      top:auto;
      left: 20px;
      bottom: 0;
      margin-left: 0;
      background-size: 236px, 219px;
      background-position: center;
      background-color: transparent;
      border-radius: 0;
    }
    &__body {
      padding-left: 256px;
    }
  }




  //
  // Список "Особенности"
  // --------------------------------------------------
  .features {
    display: table;
    margin-bottom: 35px;
    &__item {
      margin: 0px;
      display: table-cell;
      border-right: 30px solid @content-bg;
      &:last-child {
        border-right: 0px;
      }
    }
  }



  //
  // Footer
  // --------------------------------------------------
  .footer {
    &__address {
      margin-top: 0px;
    }
    &__about {
      margin-top: 20px;
    }
  }



  //
  // Меню в футере
  // --------------------------------------------------
  .fmenu {
    float: right;
  }



  //
  // Копирайт
  // --------------------------------------------------
  .copyright {
    margin-top: 0;
  }



  //
  // Телефон в футере
  // --------------------------------------------------
  .ftel {
    text-align: right;
    &__num {
      margin-top: 0;
    }
  }
}
