@media (min-width: @screen-md-min) {

  //
  // Основное
  // --------------------------------------------------
  html {
    font-size: 90%;
  }



  //
  // Заголовок
  // --------------------------------------------------
  .head {

    /* Баннер на лендинге */
    &__slide {
      height: 515px;
    }
    &__image {
      .size(788px, 484px);
      right: -200px;
    }
  }



  //
  // Форма поиска
  // --------------------------------------------------
  .search {
    &__form {
      right: -20px;
    }
  }



  //
  // Главное меню
  // --------------------------------------------------
  .menu {
    > li > a {
      font-weight: 500;
    }
    a {
      font-size: 15px;
      padding: 11px 20px;
    }
  }



  //
  // Панель "Москитные сетки"
  // --------------------------------------------------
  .panmesh {
    height: 110px;
    &__logo {
      right: 20px;
      height: 165px;
    }
  }
}
