@media (min-width: @screen-lg-min) {
    
  //
  // Основное
  // --------------------------------------------------

  html 
  {
    font-size: 100%;
  }



  //
  // Заголовок
  // --------------------------------------------------
  .head {

    /* Баннер на лендинге */
    &__image {
      right: -80px;
    }
  }


  //
  // Главное меню
  // --------------------------------------------------

  .menu {
    a {
      padding: 11px 35px;
    }
  }

}

/* Максимальная ширина контейнера */
@media (min-width: @screen-xlg-min) {
  //
  // Заголовок
  // --------------------------------------------------
  .head {

    /* Баннер на лендинге */
    &__image {
      right: -12px;
    }
  }
}