.shdwtab {
  position: relative;
  overflow: hidden;
  padding-right: 1px;
}
.shdwtab__shad {
  position: absolute;
  top: 10px;
  bottom: 10px;
  width: 40px;
  display: none;
  box-shadow: 0px 0px 35px rgba(0, 0, 0, 0.7);
  border-radius: 0.23076923em;
}
.shdwtab__shad_lt {
  left: -42px;
}
.shdwtab__shad_rt {
  right: -42px;
}
.shdwtab__shad_visible {
  display: block;
}
.shdwtab__wrap {
  overflow: auto;
}
html {
  font-size: 75%;
}
.container-fluid {
  max-width: 1500px;
  padding: 0 6%;
}
h2,
h3,
h4 {
  margin-top: 25px;
}
.content {
  padding-top: 3.125rem;
  padding-bottom: 3.75rem;
  position: relative;
  z-index: 1;
  /* Ссылки */
  /* Заголовки */
  /* Картинки */
  /* Таблица */
}
.content a {
  text-decoration: none;
  border-bottom: 1px solid #bec5e2;
}
.content a:active,
.content a:hover {
  color: #0e2485;
  border-color: #8691c2;
}
.content a:visited {
  color: #b40eb4;
  border-color: #e8b6e8;
}
.content p {
  line-height: 23px;
  margin: 10.5px 0;
}
.content blockquote {
  text-align: center;
  font-size: 1.875rem;
  font-weight: 400;
  position: relative;
  background: transparent;
  quotes: none;
  border: 0;
  margin: 40px 0;
}
.content blockquote:before,
.content blockquote:after {
  content: "";
  position: absolute;
  display: block;
  height: 1px;
  left: 50%;
  background: #a5a5a5;
  width: 156px;
  margin-left: -78px;
}
.content blockquote:before {
  top: -1px;
}
.content blockquote:after {
  bottom: -1px;
}
.content h1,
.content .h1 {
  margin: 0 0 3.125rem;
  font-size: 3.25rem;
  font-weight: 700;
  line-height: 1;
}
.content_landing {
  padding-top: 4.0625rem;
  background: #e5e9ee;
}
.content_landing h1,
.content_landing .h1 {
  font-size: 2.625rem;
  font-weight: 500;
  margin: 0 0 2.0625rem;
}
.content img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 15px 0;
}
.content table {
  border-collapse: collapse;
  border-spacing: 0;
}
.content table th,
.content table td {
  padding: 6px 20px;
  border: 1px solid #e4e8ed;
}
.content table th {
  background: #edf0f4;
}
ul.list-ul > li {
  list-style-type: none;
  position: relative;
  margin-bottom: 10px;
}
ul.list-ul > li:before {
  content: "\25CF";
  color: #66c226;
  position: absolute;
  left: -1em;
  line-height: 1.12;
  font-size: 125%;
}
ol.list-ol {
  counter-reset: item;
  margin-bottom: 10px;
}
ol.list-ol > li {
  list-style-type: none;
  position: relative;
  margin-bottom: 10px;
}
ol.list-ol > li:before {
  counter-increment: item;
  content: counter(item) ".";
  color: #66c226;
  position: absolute;
  left: -1.3em;
  font-weight: 700;
}
.head {
  /* http://www.colorzilla.com/gradient-editor/#283d9f+0,1e4fb2+25,1e5fc3+50,1f6cd1+75,1f6dd3+100 */
  background: #283d9f;
  background: -moz-linear-gradient(top, #283d9f 0%, #1e4fb2 25%, #1e5fc3 50%, #1f6cd1 75%, #1f6dd3 100%);
  background: -webkit-linear-gradient(top, #283d9f 0%, #1e4fb2 25%, #1e5fc3 50%, #1f6cd1 75%, #1f6dd3 100%);
  background: linear-gradient(to bottom, #283d9f 0%, #1e4fb2 25%, #1e5fc3 50%, #1f6cd1 75%, #1f6dd3 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#283d9f', endColorstr='#1f6dd3', GradientType=0);
  color: #fff;
  padding: 25px 0 8px;
  position: relative;
  z-index: 2;
  /* Баннер на лендинге */
}
.head_landing {
  overflow: hidden;
}
.head__logo {
  display: block;
  width: 8.875rem;
  height: 3.0625rem;
  background-image: url(../img/logo-mobile.png);
  background-size: 8.875rem auto;
  background-repeat: no-repeat;
}
.head__tel {
  font-weight: bold;
  font-size: 1.81rem;
  line-height: 1.27;
  margin-top: 15px;
}
.head__tel span {
  display: inline-block;
  background-repeat: no-repeat;
  background-size: 23px 23px;
  background-position: left center;
}
.head__address {
  font-size: 1.1rem;
}
.head__address span {
  display: inline-block;
  background-repeat: no-repeat;
  background-size: 14px 14px;
  background-position: left center;
}
.head__call {
  padding: 8px 13px;
  font-size: 16px;
  line-height: 16px;
  border-radius: 4px;
  background-image: -webkit-linear-gradient(top, #66c227 0%, #5eba1f 100%);
  background-image: -o-linear-gradient(top, #66c227 0%, #5eba1f 100%);
  background-image: linear-gradient(to bottom, #66c227 0%, #5eba1f 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff66c227', endColorstr='#ff5eba1f', GradientType=0);
  border: 0px;
  margin-top: 20px;
  font-weight: 500;
  text-transform: uppercase;
  position: relative;
}
.head__call:focus,
.head__call.focus {
  color: #ffffff;
  background-image: -webkit-linear-gradient(top, #62ba25 0%, #5ab11e 100%);
  background-image: -o-linear-gradient(top, #62ba25 0%, #5ab11e 100%);
  background-image: linear-gradient(to bottom, #62ba25 0%, #5ab11e 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff62ba25', endColorstr='#ff5ab11e', GradientType=0);
}
.head__call:hover {
  color: #ffffff;
  background-image: -webkit-linear-gradient(top, #62ba25 0%, #5ab11e 100%);
  background-image: -o-linear-gradient(top, #62ba25 0%, #5ab11e 100%);
  background-image: linear-gradient(to bottom, #62ba25 0%, #5ab11e 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff62ba25', endColorstr='#ff5ab11e', GradientType=0);
}
.head__call:active {
  background-image: -webkit-linear-gradient(top, #5bad23 0%, #53a41b 100%);
  background-image: -o-linear-gradient(top, #5bad23 0%, #53a41b 100%);
  background-image: linear-gradient(to bottom, #5bad23 0%, #53a41b 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bad23', endColorstr='#ff53a41b', GradientType=0);
}
.head__call:active:hover,
.head__call:active:focus,
.head__call:active.focus {
  background-image: -webkit-linear-gradient(top, #5bad23 0%, #53a41b 100%);
  background-image: -o-linear-gradient(top, #5bad23 0%, #53a41b 100%);
  background-image: linear-gradient(to bottom, #5bad23 0%, #53a41b 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bad23', endColorstr='#ff53a41b', GradientType=0);
}
.head__call span {
  position: relative;
  z-index: 2;
}
.head__call:before {
  content: "";
  display: none;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 81px;
  height: 75px;
  background-position: right 0 bottom 0;
  background-repeat: no-repeat;
  background-image: url('../img/man-small.png');
  background-size: 81px 75px;
  z-index: 1;
}
.head__slide {
  margin: 0 0 -8px;
  height: 275px;
  position: relative;
  z-index: 1;
  white-space: nowrap;
}
.head__title {
  position: relative;
  z-index: 2;
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 1.1;
  padding-top: 25px;
  margin: 0;
  white-space: normal;
}
.head__title span {
  display: block;
}
.head__image {
  position: absolute;
  z-index: 1;
  left: -7%;
  right: -7%;
  bottom: 0;
  height: 150px;
  background-image: url(../img/window.png);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: 535px auto;
}
.navi {
  margin-top: 24px;
  color: #274ca0;
}
.navi:before,
.navi:after {
  content: " ";
  display: table;
}
.navi:after {
  clear: both;
}
.navi__toggle {
  height: 36px;
  text-transform: uppercase;
  font-size: 15px;
  line-height: 1;
  padding: 11px 14px;
  border: none;
  font-weight: 500;
  border-radius: 4px;
  outline: none;
  float: left;
  margin-right: 3px;
  background-image: -webkit-linear-gradient(top, #ffffff 0%, #e3e7ed 100%);
  background-image: -o-linear-gradient(top, #ffffff 0%, #e3e7ed 100%);
  background-image: linear-gradient(to bottom, #ffffff 0%, #e3e7ed 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe3e7ed', GradientType=0);
}
.navi__toggle:focus {
  background: #e3e7ed;
}
.navi__toggle:hover {
  background: #e3e7ed;
}
.navi__toggle:active {
  background-image: -webkit-linear-gradient(top, #e3e7ed 0%, #ffffff 100%);
  background-image: -o-linear-gradient(top, #e3e7ed 0%, #ffffff 100%);
  background-image: linear-gradient(to bottom, #e3e7ed 0%, #ffffff 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe3e7ed', endColorstr='#ffffffff', GradientType=0);
}
.navi__toggle:active:hover,
.navi__toggle:active:focus {
  background-image: -webkit-linear-gradient(top, #e3e7ed 0%, #ffffff 100%);
  background-image: -o-linear-gradient(top, #e3e7ed 0%, #ffffff 100%);
  background-image: linear-gradient(to bottom, #e3e7ed 0%, #ffffff 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe3e7ed', endColorstr='#ffffffff', GradientType=0);
}
.navi__toggle:before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  background-image: url(../img/menu.png);
  background-size: 10px 10px;
  background-repeat: no-repeat;
  margin-right: 7px;
}
.navi__row {
  overflow: hidden;
}
.navi__col {
  vertical-align: top;
}
.navi__col_menu {
  display: none;
  padding-right: 3px;
}
.menu {
  position: relative;
  z-index: 2;
  width: 100%;
  margin: 0;
  padding: 0;
  display: table;
  border-radius: 4px;
  background-image: -webkit-linear-gradient(top, #ffffff 0%, #e3e7ed 100%);
  background-image: -o-linear-gradient(top, #ffffff 0%, #e3e7ed 100%);
  background-image: linear-gradient(to bottom, #ffffff 0%, #e3e7ed 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe3e7ed', GradientType=0);
}
.menu li {
  list-style-type: none;
  position: relative;
}
.menu a {
  color: #274ca0;
  display: block;
  padding: 11px 7px;
  text-decoration: none;
  height: 36px;
  line-height: 1;
  white-space: nowrap;
  text-shadow: 0 1px 0px #fff;
}
.menu .active > a {
  background-image: -webkit-linear-gradient(top, #66c227 0%, #5eba1f 100%);
  background-image: -o-linear-gradient(top, #66c227 0%, #5eba1f 100%);
  background-image: linear-gradient(to bottom, #66c227 0%, #5eba1f 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff66c227', endColorstr='#ff5eba1f', GradientType=0);
  color: #ffffff;
  text-shadow: none;
}
.menu .active > a:hover,
.menu .active > a:focus,
.menu .active > a.focus {
  background-image: -webkit-linear-gradient(top, #66c227 0%, #5eba1f 100%);
  background-image: -o-linear-gradient(top, #66c227 0%, #5eba1f 100%);
  background-image: linear-gradient(to bottom, #66c227 0%, #5eba1f 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff66c227', endColorstr='#ff5eba1f', GradientType=0);
}
.menu .active:hover > a {
  background-image: -webkit-linear-gradient(top, #66c227 0%, #5eba1f 100%);
  background-image: -o-linear-gradient(top, #66c227 0%, #5eba1f 100%);
  background-image: linear-gradient(to bottom, #66c227 0%, #5eba1f 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff66c227', endColorstr='#ff5eba1f', GradientType=0);
  color: #ffffff;
}
.menu > li {
  display: table-cell;
}
.menu > li:hover > a:after,
.menu > li.active > a:after {
  display: none;
}
.menu > li > a {
  text-transform: uppercase;
  text-align: center;
  position: relative;
}
.menu > li > a:after {
  content: "";
  display: block;
  position: absolute;
  right: -1px;
  top: 50%;
  margin-top: -10px;
  width: 2px;
  height: 21px;
  background-image: url(../img/delim.png);
  background-repeat: no-repeat;
}
.menu > li > a:hover {
  background: #e3e7ed;
}
.menu > li > a:active {
  background: #d3dae3;
}
.menu > li:first-child > a {
  border-radius: 4px 0 0 4px;
}
.menu > li:last-child > a {
  border-radius: 0 4px 4px 0;
}
.menu > li:last-child > a:after {
  display: none;
}
.menu > li:active > .menu__inner,
.menu > li:hover > .menu__inner {
  display: block;
}
.menu__inner {
  margin: 0;
  padding: 0;
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
  background: #e3e7ed;
  border-radius: 0 0 4px 4px;
}
.menu__inner > li:hover > a {
  background: #d3dae3;
}
.menu__inner > li:active > a {
  background: #c4ccd9;
}
.menu__inner > li:last-child > a {
  border-radius: 0 0 4px 4px;
}
.search {
  position: relative;
  z-index: 3;
}
.search__icon {
  display: inline-block;
  background-image: url(../img/search.png);
  background-repeat: no-repeat;
  background-size: 16px 15px;
  width: 16px;
  height: 15px;
}
.search__toggle,
.search__submit {
  outline: none;
  height: 36px;
  float: right;
  border: none;
  padding: 11px 14px;
  border-radius: 0 4px 4px 0;
  background-image: -webkit-linear-gradient(top, #ffffff 0%, #e3e7ed 100%);
  background-image: -o-linear-gradient(top, #ffffff 0%, #e3e7ed 100%);
  background-image: linear-gradient(to bottom, #ffffff 0%, #e3e7ed 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe3e7ed', GradientType=0);
}
.search__toggle:focus,
.search__submit:focus {
  background: #e3e7ed;
}
.search__toggle:hover,
.search__submit:hover {
  background: #e3e7ed;
}
.search__toggle:active,
.search__submit:active {
  background-image: -webkit-linear-gradient(top, #e3e7ed 0%, #ffffff 100%);
  background-image: -o-linear-gradient(top, #e3e7ed 0%, #ffffff 100%);
  background-image: linear-gradient(to bottom, #e3e7ed 0%, #ffffff 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe3e7ed', endColorstr='#ffffffff', GradientType=0);
}
.search__toggle:active:hover,
.search__submit:active:hover,
.search__toggle:active:focus,
.search__submit:active:focus {
  background-image: -webkit-linear-gradient(top, #e3e7ed 0%, #ffffff 100%);
  background-image: -o-linear-gradient(top, #e3e7ed 0%, #ffffff 100%);
  background-image: linear-gradient(to bottom, #e3e7ed 0%, #ffffff 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe3e7ed', endColorstr='#ffffffff', GradientType=0);
}
.search__input {
  overflow: hidden;
}
.search__input input {
  border-radius: 4px 0 0 4px;
  font-size: 20px;
  outline: none;
  border: none;
  width: 100%;
  height: 36px;
  padding: 11px 14px;
  background-image: -webkit-linear-gradient(top, #ffffff 0%, #e3e7ed 100%);
  background-image: -o-linear-gradient(top, #ffffff 0%, #e3e7ed 100%);
  background-image: linear-gradient(to bottom, #ffffff 0%, #e3e7ed 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe3e7ed', GradientType=0);
}
.search__toggle {
  border-radius: 4px;
  padding: 11px 12px;
  float: none;
}
.service {
  padding: 0;
  list-style-type: none;
}
.service__item {
  margin-bottom: 45px;
}
.service__image {
  height: 140px;
  background-repeat: no-repeat;
  background-position: left bottom;
  cursor: pointer;
}
.service__image_wind {
  background-image: url(../img/wind-open.png);
  background-size: 90px 139px;
}
.service__image_acce {
  background-image: url(../img/accessories.png);
  background-size: 133px 151px;
}
.service__image_uplo {
  background-image: url(../img/uplotnit.png);
  background-size: 137px 110px;
}
.service__image_bug {
  background-image: url(../img/bug.png);
  background-size: 98px 157px;
}
.service__image_pen {
  background-image: url(../img/pen.png);
  background-size: 51px 114px;
}
.service__image_ogra {
  background-image: url(../img/ogranichtel.png);
  background-size: 139px 51px;
  background-position: left center;
}
.service__image_mesh {
  background-image: url(../img/mesh.png);
  background-size: 62px 130px;
}
.service__image_blin {
  background-image: url(../img/blinds.png);
  background-size: 65px 130px;
}
.service__title {
  margin-top: 8px;
  font-size: 15px;
  max-width: 255px;
}
.service__price {
  margin-top: 8px;
  font-style: italic;
  font-size: 13px;
  color: #a4a6ae;
}
.pancall {
  background: #1f6dd3;
  color: #fff;
  padding: 15px;
  border-radius: 4px;
  position: relative;
  margin-top: 35px;
}
.pancall__header {
  font-weight: 500;
  font-size: 1.625rem;
  margin-top: 0;
}
.pancall__logo {
  position: absolute;
  display: none;
  left: 20px;
  bottom: 0;
  width: 236px;
  height: 219px;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-image: url(../img/manfull.png);
  background-size: 236px 219px;
}
.pancall__footer {
  margin-top: 15px;
}
.pancall__btn {
  padding: 8px 13px;
  font-size: 16px;
  line-height: 16px;
  border-radius: 4px;
  background-image: -webkit-linear-gradient(top, #66c227 0%, #5eba1f 100%);
  background-image: -o-linear-gradient(top, #66c227 0%, #5eba1f 100%);
  background-image: linear-gradient(to bottom, #66c227 0%, #5eba1f 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff66c227', endColorstr='#ff5eba1f', GradientType=0);
  border: none;
  font-weight: 500;
  text-transform: uppercase;
}
.pancall__btn:focus,
.pancall__btn.focus {
  color: #ffffff;
  background-image: -webkit-linear-gradient(top, #62ba25 0%, #5ab11e 100%);
  background-image: -o-linear-gradient(top, #62ba25 0%, #5ab11e 100%);
  background-image: linear-gradient(to bottom, #62ba25 0%, #5ab11e 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff62ba25', endColorstr='#ff5ab11e', GradientType=0);
}
.pancall__btn:hover {
  color: #ffffff;
  background-image: -webkit-linear-gradient(top, #62ba25 0%, #5ab11e 100%);
  background-image: -o-linear-gradient(top, #62ba25 0%, #5ab11e 100%);
  background-image: linear-gradient(to bottom, #62ba25 0%, #5ab11e 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff62ba25', endColorstr='#ff5ab11e', GradientType=0);
}
.pancall__btn:active {
  background-image: -webkit-linear-gradient(top, #5bad23 0%, #53a41b 100%);
  background-image: -o-linear-gradient(top, #5bad23 0%, #53a41b 100%);
  background-image: linear-gradient(to bottom, #5bad23 0%, #53a41b 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bad23', endColorstr='#ff53a41b', GradientType=0);
}
.pancall__btn:active:hover,
.pancall__btn:active:focus,
.pancall__btn:active.focus {
  background-image: -webkit-linear-gradient(top, #5bad23 0%, #53a41b 100%);
  background-image: -o-linear-gradient(top, #5bad23 0%, #53a41b 100%);
  background-image: linear-gradient(to bottom, #5bad23 0%, #53a41b 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bad23', endColorstr='#ff53a41b', GradientType=0);
}
.pancall_small .pancall__logo {
  width: 185px;
  background-size: 185px auto;
  background-position: center bottom -15px;
}
.pancall_small .pancall__header {
  font-size: 1.25rem;
}
.pancall_landing {
  margin-top: 0px;
}
.panmesh {
  background: #65c126;
  color: #fff;
  padding: 15px;
  border-radius: 4px;
  position: relative;
  margin-top: 85px;
}
.panmesh__body {
  padding-right: 115px;
}
.panmesh__header {
  font-weight: 500;
  font-size: 1.625rem;
  margin-top: 0;
}
.panmesh__logo {
  position: absolute;
  display: block;
  right: 10px;
  top: -40px;
  width: 114px;
  height: 193px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../img/mesh-full.png);
  background-size: 114px 193px;
}
.introtext {
  margin-top: 48px;
}
.features {
  margin: 0;
  padding: 0;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1;
  display: flex;
  flex-wrap: wrap;
}
.features__item {
  background: #f4f6f8;
  list-style-type: none;
  display: inline-block;
  padding: 20px 25px;
  vertical-align: top;
  margin-right: 30px;
  margin-bottom: 20px;
  border-radius: 4px;
}
.features big {
  font-size: 2.125rem;
  line-height: 1.1;
}
.brands {
  margin: 0;
  padding: 0;
}
.brands__item {
  display: inline-block;
  list-style-type: none;
  vertical-align: middle;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 15px;
  margin-right: 15px;
  margin-right: 4%;
}
.brands__item:last-child {
  margin-right: 0;
}
.brands__item_shuc {
  background-image: url('../img/schuco.png');
  width: 87.5px;
  height: 15.4px;
}
.brands__item_geal {
  background-image: url('../img/gealan.png');
  width: 73.5px;
  height: 18.2px;
}
.brands__item_veka {
  background-image: url('../img/veka.png');
  width: 42px;
  height: 46.2px;
}
.brands__item_plas {
  background-image: url('../img/plastmo.png');
  width: 67.9px;
  height: 17.5px;
}
.brands__item_reha {
  background-image: url('../img/rehau.png');
  width: 66.5px;
  height: 30.1px;
}
.brands__item_plaf {
  background-image: url('../img/plafen.png');
  width: 68.6px;
  height: 27.3px;
}
.brands__item_kbe {
  background-image: url('../img/kbe.png');
  width: 63px;
  height: 26.6px;
}
.footer {
  overflow: hidden;
  color: #a5adba;
  padding-bottom: 20px;
  /* Ссылки */
}
.footer_landing {
  background-color: #e5e9ee;
}
.footer__address {
  margin-top: 15px;
  font-weight: 700;
}
.footer a {
  color: #a5adba;
  text-decoration: none;
  border-bottom: 1px solid #c4cad3;
}
.footer a:active,
.footer a:hover {
  color: #909aa9;
  border-color: #b4bac3;
}
.footer a:visited {
  color: #909aa9;
  border-color: #d2d5db;
}
.fmenu {
  position: relative;
  margin: 0;
  padding: 0;
}
.fmenu:before {
  content: "";
  position: absolute;
  display: block;
  right: 100%;
  top: 15px;
  width: 9999px;
  height: 1px;
  background-color: #c4cad3;
}
.fmenu__item {
  list-style-type: none;
  float: left;
  padding: 5px 12px;
}
.fmenu__item:last-child {
  padding-right: 0;
}
.ftel__num {
  margin-top: 15px;
  font-size: 1.25rem;
  font-weight: 700;
  padding-left: 25px;
  background-image: url(../img/telfooter.png);
  background-position: 0 center;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  display: inline-block;
}
.develop {
  font-size: 11px;
  line-height: 1.2;
  margin-top: 14px;
}
.develop:before,
.develop:after {
  content: " ";
  display: table;
}
.develop:after {
  clear: both;
}
.develop__item {
  margin-top: 5px;
}
.copyright {
  margin-top: 15px;
  background-repeat: no-repeat;
  background-size: 22px 20px;
  background-position: 0 0;
  line-height: 1.15;
}
.copyright:before {
  content: "\00A9";
  font-size: 24px;
  font-weight: 500;
  vertical-align: -2px;
}
.copyright__date {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1;
  display: inline-block;
  padding-left: 22px;
}
.modal {
  padding: 0 15px;
  color: #fff;
}
.modal__content {
  padding: 7px;
  background: #fff;
  border: 1px solid #e4e8ed;
}
.modal__inner {
  background: #3448aa;
  border-radius: 4px;
  padding: 1.875rem;
  position: relative;
}
.modal__close {
  position: absolute;
  right: 10px;
  top: 10px;
  border: 1px solid #ffffff;
  border-radius: 100%;
  background-color: transparent;
  color: #ffffff;
  font-size: 18px;
  line-height: 1;
  opacity: 0.7;
  width: 26px;
  height: 26px;
}
.modal__close:hover {
  opacity: 1;
}
.modal__close:active {
  background-color: #ffffff;
}
.modal__close:active:before {
  color: #3448aa;
}
.modal__close:before {
  content: "\00D7";
  display: inline-block;
  vertical-align: 3px;
}
.modal__wind {
  max-width: 390px;
  margin: 15px auto 0;
}
.modal__logo {
  height: 36px;
  background-repeat: no-repeat;
  background-size: auto 36px;
  background-position: left top;
  background-image: url(../img/logo-mobile@2x.png);
  margin-bottom: 1.5625rem;
  display: none;
}
.modal__title {
  font-size: 1.75rem;
  font-weight: 500;
  text-transform: uppercase;
  margin: 0;
  line-height: 1;
}
.modal__desc {
  font-size: 14px;
  padding: 10px 0 0;
}
.modal .screen-reader-response {
  display: none;
}
.fwrap {
  padding: 7px;
  background: #edf0f4;
  border: 1px solid #e4e8ed;
  border-radius: 4px;
  max-width: 390px;
  margin: 15px 0;
}
.fwrap__inner {
  border-radius: 4px;
  padding: 1.875rem;
  position: relative;
  background: #ffffff;
}
.fwrap__title {
  font-size: 1.75rem;
  font-weight: 500;
  text-transform: uppercase;
  margin: 0;
  line-height: 1;
}
.fwrap__desc {
  font-size: 14px;
  padding: 10px 0 0;
}
.fwrap .screen-reader-response {
  display: none;
}
.form {
  margin-top: 20px;
  /* Форма встроенная в контент */
}
.form-group {
  margin-bottom: 25px;
}
.form__label {
  display: block;
  text-transform: uppercase;
  font-weight: 500;
}
.form__control {
  display: block;
  width: 100%;
  outline: none;
  font-size: 1.5rem;
}
textarea.form__control,
input.form__control {
  background: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  resize: none;
}
textarea.form__control {
  font-size: 1rem;
  height: 100px;
}
.form .wpcf7-not-valid-tip,
label.form__error {
  display: inline-block;
  padding: 5px 15px;
  background: #ef0022;
  font-size: 14px;
  line-height: 1.1;
  border-radius: 4px;
  margin-top: 5px;
  font-weight: 400;
  color: #fff;
}
.form__btn {
  padding: 8px 13px;
  font-size: 16px;
  line-height: 16px;
  border-radius: 4px;
  background-image: -webkit-linear-gradient(top, #66c227 0%, #5eba1f 100%);
  background-image: -o-linear-gradient(top, #66c227 0%, #5eba1f 100%);
  background-image: linear-gradient(to bottom, #66c227 0%, #5eba1f 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff66c227', endColorstr='#ff5eba1f', GradientType=0);
  border: 0px;
  font-weight: 500;
  text-transform: uppercase;
  color: #fff;
}
.form__btn:focus,
.form__btn.focus {
  color: #ffffff;
  background-image: -webkit-linear-gradient(top, #62ba25 0%, #5ab11e 100%);
  background-image: -o-linear-gradient(top, #62ba25 0%, #5ab11e 100%);
  background-image: linear-gradient(to bottom, #62ba25 0%, #5ab11e 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff62ba25', endColorstr='#ff5ab11e', GradientType=0);
}
.form__btn:hover {
  color: #ffffff;
  background-image: -webkit-linear-gradient(top, #62ba25 0%, #5ab11e 100%);
  background-image: -o-linear-gradient(top, #62ba25 0%, #5ab11e 100%);
  background-image: linear-gradient(to bottom, #62ba25 0%, #5ab11e 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff62ba25', endColorstr='#ff5ab11e', GradientType=0);
}
.form__btn:active {
  background-image: -webkit-linear-gradient(top, #5bad23 0%, #53a41b 100%);
  background-image: -o-linear-gradient(top, #5bad23 0%, #53a41b 100%);
  background-image: linear-gradient(to bottom, #5bad23 0%, #53a41b 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bad23', endColorstr='#ff53a41b', GradientType=0);
}
.form__btn:active:hover,
.form__btn:active:focus,
.form__btn:active.focus {
  background-image: -webkit-linear-gradient(top, #5bad23 0%, #53a41b 100%);
  background-image: -o-linear-gradient(top, #5bad23 0%, #53a41b 100%);
  background-image: linear-gradient(to bottom, #5bad23 0%, #53a41b 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bad23', endColorstr='#ff53a41b', GradientType=0);
}
.form__footer {
  text-align: right;
}
.form_embed .form__label {
  color: #949494;
}
.form_embed .form__label_active {
  color: #000;
}
.form_embed textarea.form__control,
.form_embed input.form__control {
  border-bottom: 1px solid #bbbbbb;
}
.form .wpcf7-response-output {
  padding: 5px 15px;
  margin-bottom: 15px;
  border: 2px solid #66C227;
  border-radius: 4px;
  text-align: left;
  display: none;
}
.form .wpcf7-response-output.wpcf7-validation-errors {
  display: none !important;
}
.form .wpcf7-response-output.wpcf7-mail-sent-ok {
  display: block;
}
.form .ajax-loader {
  display: none;
}
.contact__box {
  position: relative;
  padding: 15px 0;
}
.contact__box:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 15px;
  right: 15px;
  height: 1px;
  background: #e8e8e8;
}
.contact__label {
  font-weight: 500;
}
.map {
  height: 380px;
  border: 8px solid #fff;
  box-shadow: 0 5px 35px #e3e7ed;
  margin-top: 35px;
}
.review {
  margin: 20px 0 0 0;
  padding: 0;
}
.review__item {
  list-style-type: none;
}
.review__header:before,
.review__header:after {
  content: " ";
  display: table;
}
.review__header:after {
  clear: both;
}
.review__name {
  font-weight: 500;
  font-size: 1.25rem;
  display: inline-block;
  margin-right: 10px;
}
.review__date {
  display: inline-block;
  color: #787878;
  font-style: italic;
}
.review__body {
  padding: 1.5rem;
  border-radius: 4px;
  border: 2px solid #e4e8ed;
  margin: 20px 0 25px;
  position: relative;
  /* Stroke */
  /* Fill */
}
.review__body:before,
.review__body:after {
  position: absolute;
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-color: transparent;
}
.review__body:before {
  top: -16px;
  left: 21px;
  /* If 1px darken stroke slightly */
  border-bottom-color: #e4e8ed;
  border-left-color: #e4e8ed;
  border-width: 8px;
}
.review__body:after {
  top: -11px;
  left: 23px;
  border-bottom-color: #fff;
  border-left-color: #fff;
  border-width: 7px;
}
.review__body p {
  margin: 0;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2) {
  .head {
    /* Баннер на лендинге */
  }
  .head__logo {
    background-image: url(../img/logo@2x.png);
  }
  .head__call:before {
    background-image: url(../img/man-small@2x.png);
  }
  .head__image {
    background-image: url(../img/window@2x.png);
  }
  .navi__toggle:before {
    background-image: url(../img/menu@2x.png);
  }
  .search__icon {
    background-image: url(../img/search@2x.png);
  }
  .service__image_wind {
    background-image: url(../img/wind-open@2x.png);
  }
  .service__image_acce {
    background-image: url(../img/accessories@2x.png);
  }
  .service__image_uplo {
    background-image: url(../img/uplotnit@2x.png);
  }
  .service__image_bug {
    background-image: url(../img/bug@2x.png);
  }
  .service__image_pen {
    background-image: url(../img/pen@2x.png);
  }
  .service__image_ogra {
    background-image: url(../img/ogranichtel@2x.png);
  }
  .service__image_mesh {
    background-image: url(../img/mesh@2x.png);
  }
  .service__image_blin {
    background-image: url(../img/blinds@2x.png);
  }
  .pancall__logo {
    background-image: url(../img/manfull@2x.png);
  }
  .brands__item_shuc {
    background-image: url(../img/schuco@2x.png);
  }
  .brands__item_geal {
    background-image: url(../img/gealan@2x.png);
  }
  .brands__item_veka {
    background-image: url(../img/veka@2x.png);
  }
  .brands__item_plas {
    background-image: url(../img/plastmo@2x.png);
  }
  .brands__item_reha {
    background-image: url(../img/rehau@2x.png);
  }
  .brands__item_plaf {
    background-image: url(../img/plafen@2x.png);
  }
  .brands__item_kbe {
    background-image: url(../img/kbe@2x.png);
  }
  .ftel__num {
    background-image: url(../img/telfooter@2x.png);
  }
  .modal__logo {
    background-image: url(../img/logo@2x.png);
  }
  .panmesh__logo {
    background-image: url(../img/mesh-full@2x.png);
  }
}
@media (min-width: 480px) {
  .head {
    /* Баннер на лендинге */
  }
  .develop {
    text-align: right;
  }
  .develop__item {
    display: inline-block;
    text-align: left;
    margin-left: 15px;
    margin-top: 0px;
  }
  .panmesh {
    height: 166px;
  }
  .panmesh__body {
    padding-right: 160px;
  }
  .panmesh__logo {
    width: 152px;
    height: 219px;
    top: auto;
    bottom: 0;
    background-size: 152px 258px;
    background-position: 0px 0px;
  }
}
@media (min-width: 768px) {
  html {
    font-size: 80%;
  }
  .head {
    padding-top: 40px;
    /* Баннер на лендинге */
  }
  .head__logo {
    float: left;
  }
  .head__info {
    float: right;
  }
  .head__contacts {
    float: left;
  }
  .head__action {
    float: left;
    margin-left: 25px;
  }
  .head__tel {
    margin-top: -5px;
    text-align: right;
  }
  .head__tel span {
    padding-left: 30px;
    background-image: url(../img/tel.png);
  }
  .head__address {
    text-align: right;
  }
  .head__address span {
    padding-left: 20px;
    background-image: url(../img/address.png);
  }
  .head__call {
    margin-top: 0;
    text-align: left;
    padding-right: 70px;
  }
  .head__call:before {
    display: block;
  }
  .head__slide {
    height: 465px;
  }
  .head__slide:before {
    content: "";
    display: inline-block;
    height: 100%;
    width: 1px;
    vertical-align: middle;
  }
  .head__title {
    display: inline-block;
    vertical-align: middle;
    font-size: 3.5rem;
    padding-top: 0;
  }
  .head__title span {
    max-width: 65%;
  }
  .head__image {
    left: auto;
    right: -250px;
    margin-left: 0px;
    width: 725px;
    height: 445px;
    background-size: contain;
  }
  .navi__row {
    float: none;
    display: table;
    width: 100%;
    overflow: auto;
  }
  .navi__col {
    display: table-cell;
  }
  .navi__col_search {
    width: 40px;
  }
  .search__form {
    display: none;
    position: absolute;
    width: 450px;
    right: 15px;
    top: -50%;
  }
  .search_active .search__form {
    display: block;
    box-shadow: 0 -2px 30px rgba(39, 62, 160, 0.65);
    border-radius: 4px;
  }
  .search_active .search__toggle .search__icon {
    visibility: hidden;
  }
  .navi__row {
    float: none;
    display: table;
    width: 100%;
    overflow: auto;
  }
  .navi__col {
    display: table-cell;
  }
  .navi__col_search {
    width: 40px;
  }
  .pancall {
    max-width: 100%;
    text-align: left;
    padding: 20px;
    margin-top: 100px;
    min-height: 153px;
  }
  .pancall__logo {
    display: block;
  }
  .pancall__body {
    padding-left: 256px;
  }
  .pancall_small {
    margin-top: 70px;
    min-height: 109px;
  }
  .pancall_small .pancall__body {
    padding-left: 205px;
  }
  .pancall_landing {
    margin-top: 60px;
  }
  .panmesh {
    height: 140px;
  }
  .panmesh__header {
    font-size: 2rem;
  }
  .panmesh__body {
    padding-right: 170px;
  }
  .panmesh__logo {
    height: 193px;
  }
  .footer__address {
    margin-top: 0px;
  }
  .footer__about {
    margin-top: 20px;
  }
  .fmenu {
    float: right;
  }
  .copyright {
    margin-top: 0;
  }
  .ftel {
    text-align: right;
  }
  .ftel__num {
    margin-top: 0;
  }
  .brands__item_shuc {
    width: 125px;
    height: 22px;
  }
  .brands__item_geal {
    width: 105px;
    height: 26px;
  }
  .brands__item_veka {
    width: 60px;
    height: 66px;
  }
  .brands__item_plas {
    width: 97px;
    height: 25px;
  }
  .brands__item_reha {
    width: 95px;
    height: 43px;
  }
  .brands__item_plaf {
    width: 98px;
    height: 39px;
  }
  .brands__item_kbe {
    width: 90px;
    height: 38px;
  }
  .modal__wind {
    margin-top: 40px;
  }
  .modal__logo {
    display: block;
  }
  .map {
    margin-bottom: 90px;
  }
}
@media (min-width: 992px) {
  html {
    font-size: 90%;
  }
  .head {
    /* Баннер на лендинге */
  }
  .head__logo {
    background-image: url(../img/logo.png);
  }
  .head__slide {
    height: 515px;
  }
  .head__image {
    width: 788px;
    height: 484px;
    right: -200px;
  }
  .head__title span {
    max-width: 59%;
  }
  .search__form {
    right: -20px;
  }
  .menu > li > a {
    font-weight: 500;
  }
  .menu a {
    font-size: 15px;
    padding: 11px 20px;
  }
  .panmesh {
    height: 110px;
  }
  .panmesh__logo {
    right: 20px;
    height: 165px;
  }
}
@media (min-width: 992px) and only screen and (-webkit-min-device-pixel-ratio: 2), (min-width: 992px) and only screen and (min--moz-device-pixel-ratio: 2), (min-width: 992px) and only screen and (-o-min-device-pixel-ratio: 2/1), (min-width: 992px) and only screen and (min-device-pixel-ratio: 2) {
  .head__logo {
    background-image: url(../img/logo@2x.png);
  }
}
@media (min-width: 1200px) {
  html {
    font-size: 100%;
  }
  .head {
    /* Баннер на лендинге */
  }
  .head__image {
    right: -80px;
  }
  .menu a {
    padding: 11px 33px;
  }
  .pancall {
    margin-top: 120px;
  }
  .pancall_small {
    margin-top: 85px;
  }
  .pancall_landing {
    margin-top: 70px;
  }
  .contact {
    font-size: 16px;
  }
}
/* Максимальная ширина контейнера */
@media (min-width: 1500px) {
  .head {
    /* Баннер на лендинге */
  }
  .head__title {
    font-size: 5rem;
  }
  .head__title span {
    max-width: 76%;
  }
  .head__image {
    right: -12px;
  }
}
